apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: system-upgrade-controller
  namespace: flux-system
spec:
  interval: 10m
  url: https://github.com/rancher/system-upgrade-controller
  ref:
    branch: master