---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittools-tags
  namespace: downloads
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  dependsOn:
    - name: qbittorrent

  values:
    controllers:
      main:
        type: cronjob

        cronjob:
          schedule: "@hourly"

        pod:
          restartPolicy: OnFailure
          securityContext:
            runAsUser: 568
            runAsGroup: 568

        containers:
          main:
            image:
              repository: ghcr.io/buroa/qbittools
              tag: v0.11.0@sha256:b7b867a87257a5add56824d0a0c2f3c3bd2c77f9253859561be3eb7cdcb5bc1b
            args:
              - tagging
              - --added-on
              - --expired
              - --last-activity
              - --not-working
              - --sites
              - --unregistered
              - --server
              - qbittorrent.downloads.svc.cluster.local
              - --port
              - "8080"
              - --config
              - /config/config.yaml
            resources:
              requests:
                memory: 250Mi
                cpu: 5m
              limits:
                memory: 500Mi

    persistence:
      config-file:
        type: configMap
        name: qbittools-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true

    service:
      main:
        enabled: false
