---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx

spec:
  auto_upgrade: true
  task_privileged: true
  web_replicas: 2
  task_replicas: 2
  ingress_type: ingress
  ingress_class_name: internal
  hostname: awx.achva.network
  ingress_annotations: |
    cert-manager.io/cluster-issuer: letsencrypt-production
    acme.cert-manager.io/http01-edit-in-place: "true"
    cert-manager.io/issue-temporary-certificate: "true"

  ingress_tls_secret: awx-tls-custom-secret
  secret_key_secret: custom-awx-secret-key
  postgres_configuration_secret: awx-external-db-secret

  #postgres_storage_class: awx-postgres-volume
  #postgres_storage_requirements:
  #  requests:
  #    storage: 8Gi

#  projects_persistence: true
#  projects_storage_class: ceph-block
#  projects_storage_size: 20Gi
