---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: authentik
  namespace: security
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2023.10.4
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  values:
    annotations:
      secret.reloader.stakater.com/reload: authentik-secret
    global:
      storageClass: ceph-block
    initContainers:
      01-init-db:
        image: ghcr.io/onedr0p/postgres-init:16.1@sha256:dda75857689116d9c233ec0978cb905da0f952618dfbe1b8731aa1071044eaf0
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: authentik-secret
    replicas: 3
    authentik:
      log_level: info
      error_reporting:
        enabled: false
        send_pii: false
      redis:
        host: "authentik-redis.security.svc.cluster.local"
        password: ""
    envFrom: *envFrom

    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        external-dns.home.arpa/enabled: "true"
        external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        cert-manager.io/cluster-issuer: gts-production
        cert-manager.io/private-key-algorithm: ECDSA
        cert-manager.io/private-key-size: "384"
        nginx.ingress.kubernetes.io/affinity: cookie
        nginx.ingress.kubernetes.io/affinity-node: persistent
        nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      hosts:
        - host: &host sso.${SECRET_DOMAIN}
          paths:
            - path: /
      tls:
        - hosts:
            - *host
          secretName: authentik-cert

    postgresql:
      enabled: false

    prometheus:
      rules:
        create: true
      serviceMonitor:
        create: true

    redis:
      enabled: false
