apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: gts-production
spec:
  acme:
    server: "${CERT_SERVER}"
    email: "${SECRET_ACME_EMAIL}"
    privateKeySecretRef:
      name: gts-prod-secret
    externalAccountBinding:
      keyID: "${EABkeyID}"
      keySecretRef:
        name: cert-manager-gts-secret
        key: secret
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-gts-secret
              key: api-token
        selector:
          dnsZones:
            - "${SECRET_DOMAIN}"

---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "${SECRET_ACME_EMAIL}"
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-gts-secret
              key: api-token
        selector:
          dnsZones:
            - "${SECRET_DOMAIN}"
