---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prowlarr
  namespace: downloads
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: prowlarr-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        PROWLARR__API_KEY: "{{ .API_KEY }}"
        PROWLARR__POSTGRES_HOST: &dbHost postgres-rw.database
        PROWLARR__POSTGRES_PORT: "5432"
        PROWLARR__POSTGRES_USER: &dbUser "{{ .PROWLARR__POSTGRES_USER }}"
        PROWLARR__POSTGRES_PASSWORD: &dbPass "{{ .PROWLARR__POSTGRES_PASSWORD }}"
        PROWLARR__POSTGRES_MAIN_DB: prowlarr_main
        PROWLARR__POSTGRES_LOG_DB: prowlarr_log
        SECRET_DOMAIN: "{{ .CUSTOM_SECRET_DOMAIN }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: prowlarr_main prowlarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        WIREGUARD_PRIVATE_KEY: "{{ .WIREGUARD_PRIVATE_KEY }}"
        WIREGUARD_ADDRESSES: "{{ .WIREGUARD_ADDRESSES }}"
        VPN_SERVICE_PROVIDER: "{{ .VPN_SERVICE_PROVIDER }}"
        VPN_TYPE: "{{ .VPN_TYPE }}"
        SERVER_CITIES: "{{ .SERVER_CITIES }}"
  dataFrom:
    - extract:
        key: prowlarr
    - extract:
        key: cloudnative-pg
