---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittools-prune
  namespace: downloads
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  dependsOn:
    - name: qbittorrent

  values:
    controllers:
      main:
        type: cronjob

        cronjob:
          schedule: "5 * * * *"

        pod:
          restartPolicy: OnFailure
          securityContext:
            runAsUser: 568
            runAsGroup: 568

        containers:
          main:
            image:
              repository: ghcr.io/buroa/qbittools
              tag: v0.10.0@sha256:e700311562f88ca358c91e793494ce75ac5e355de45f3149ff03242170fd302c
            args:
              - prune
              - --exclude-category
              - manual
              - --include-tag
              - unregistered
              - --dry-run
              - --server
              - qbittorrent.downloads.svc.cluster.local
              - --port
              - "8080"
            resources:
              requests:
                memory: 64Mi
                cpu: 5m
              limits:
                memory: 128Mi

    service:
      main:
        enabled: false
