---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: weave-gitops
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.33
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    adminUser:
      create: true
      createSecret: false
      username: admin
    # ingress:
      # enabled: true
      # className: internal
      # annotations:
          # cert-manager.io/cluster-issuer: gts-production
          # cert-manager.io/private-key-algorithm: ECDSA
          # cert-manager.io/private-key-size: "384"
          # nginx.ingress.kubernetes.io/auth-url: http://ak-outpost-authentik-embedded-outpost.security.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
          # nginx.ingress.kubernetes.io/auth-signin: https://gitops.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$escaped_request_uri
          # nginx.ingress.kubernetes.io/auth-response-headers: Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
          # nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Host $http_host;
      # hosts:
        # - host: &host "gitops.${SECRET_DOMAIN}"
          # paths:
            # - path: /
              # pathType: Prefix
      # tls:
        # - hosts:
            # - *host
          # secretName: gitops-cert
    networkPolicy:
      create: false
    metrics:
      enabled: true
    rbac:
      create: true
       impersonationResourceNames: ["admin"]
    podAnnotations:
      secret.reloader.stakater.com/reload: cluster-user-auth
