---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: awx-operator
  namespace: awx
spec:
  interval: 30m
  chart:
    spec:
      chart: awx-operator
      version: 2.10.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: awx-operator
        namespace: flux-system
